* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: yellow;
}

.card-wrapper {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  width: 330px;
  border: 1px solid #333;
  box-shadow: 10px 10px #333;
}

.back-image {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.author-image {
  width: 35px;
  border-radius: 100%;
}

.tag-category {
  background-color: yellow;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
}

p.date {
  margin-top: 1rem;
  font-size: 12px;
}

.card-wrapper h2 {
  margin-top: 0.7rem;
  font-size: 22px;
}

p.descrption {
  color: #333;
  font-size: 14px;
  margin-top: 0.7rem;
}

.author-wrapper {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-top: 1.1rem;
}

.card-wrapper h4 {
  font-size: 12px;
}
