* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0f1e7;
}

body form {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 500px;
}

form h2 {
  font-size: 22px;
  margin-bottom: 1rem;
}

form .form-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

form .form-group .input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.input-group label,
form .form-group {
  font-size: 0.8rem;
}

.input-group input[type="text"],
.input-group input[type="email"] {
  width: 100%;
  height: 2rem;
  border: 1px solid #b7bcba;
  border-radius: 0.5rem;
  padding: 0 1rem;
}

.input-group textarea {
  resize: none;
  border: 1px solid #b7bcba;
  border-radius: 0.5rem;
}

.in-row {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.radio-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  height: 2rem;
  border: 1px solid #b7bcba;
  border-radius: 0.5rem;
  padding: 0 1rem;
}

.radio-item input[type="radio"] {
  color: aquamarine;
}

form button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 0.4rem;
  background-color: #0c7d69;
  letter-spacing: 0.15rem;
  color: white;
}

.extra {
  color: #7ea296;
}
